{% extends "base.html" %}

{% load static %}


{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "groups_manager/css/groups_manager.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "groups_manager/css/icons/groups_manager.css" %}" type="text/css">
{% endblock extra_css %}


{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'groups_manager:groups_manager' %}">Groups Manager</a>
  </li>
{% endblock breadcrumbs %}


{% block sidebar %}

  {{ block.super }}

  <ul class="nav nav-sidebar">
    <li>
      <a href="{% url 'groups_manager:groups_manager' %}">
        <i class="fa fa-groups-manager-groups-manager"></i> Groups manager
      </a>
    </li>
    <li>
      <a href="{% url 'groups_manager:group_list' %}">
        <i class="fa fa-groups-manager-group"></i> Groups
      </a>
    </li>
    <li>
      <a href="{% url 'groups_manager:member_list' %}">
        <i class="fa fa-groups-manager-member"></i> Members
      </a>
    </li>
  </ul>

{% endblock sidebar %}
